body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    font-family: "Raleway Dots", sans-serif;
    font-weight: 400;
    font-size: x-large;
    font-style: normal;
    text-align: center;
}

h2 {
    font-family: "Raleway Dots", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

.notes {
    /* height: 150px; */
    width: 400px;
    border: 1px solid lightgreen;
    border-radius: 32px;
    box-shadow: 6px 6px 0px rgb(144 238 144 / 32%);
    padding: 16px;
    margin-bottom: 40px;
    font-family: "Titillium Web", sans-serif;
}

.notes-trash {
    /* height: 150px;*/
    width: 400px;
    border: 1px solid rgba(255, 0, 0, 0.774);
    border-radius: 32px;
    box-shadow: 6px 6px 0px rgb(235, 76, 8);
    padding: 16px;
    margin-bottom: 40px;
    font-family: "Titillium Web", sans-serif;
}

.menu {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 0px lightgreen;
}

.menu-trash {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 0px rgba(255, 0, 0, 0.774);
}

.icons {
    height: 16px;
    padding: 8px;
}


.n-title {
    border: unset;
    font-size: 16px;
    font-weight: bold;
    outline: none;
}

.n-text {
    border: unset;
    font-size: 14px;
    font-family: "Titillium Web", sans-serif;
    outline: none;
    /* height: 6em; */
    width: 28em;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.button {
    font-family: "Raleway Dots", sans-serif;
    font-weight: 900;
    background-color: rgba(144, 238, 144, 0.4);
    border: 0px;
    border-radius: 6px;
    margin-bottom: 48px;
}

.button-trash {
    font-family: "Raleway Dots", sans-serif;
    font-weight: 900;
    background-color: rgba(255, 0, 0, 0.774);
    border: 0px;
    border-radius: 6px;
    margin-bottom: 48px;
}

p {
    margin: 0;
}

.d-none {
    display: none;
}


/* Media Querys */

@media(max-width: 460px) {

    .notes {
        height: 150px;
        width: 280px;
        border: 1px solid lightgreen;
        border-radius: 32px;
        box-shadow: 6px 6px 0px rgb(144 238 144 / 32%);
        padding: 16px;
        margin-bottom: 40px;
        font-family: "Titillium Web", sans-serif;
    }

    .notes-trash {
        height: 150px;
        width: 280px;
        border: 1px solid rgba(255, 0, 0, 0.774);
        border-radius: 32px;
        box-shadow: 6px 6px 0px rgb(235, 76, 8);
        padding: 16px;
        margin-bottom: 40px;
        font-family: "Titillium Web", sans-serif;
    }

    .n-title {
        border: unset;
        font-size: 14px;
        font-weight: bold;
        outline: none;
    }

    .n-text {
        border: unset;
        font-size: 12px;
        font-family: "Titillium Web", sans-serif;
        outline: none;
        height: 6em;
        width: 22em;
    }

    h2 {
        font-size: 18px;
    }
}